<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/auctiondb</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="show_sql">true</property>   
        <property name="connection.pool_size">5</property>
        <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <!--and will be:  Initial SessionFactory failedorg.hibernate.service.spi.ServiceException: Unable to create requested service-->
        <property name="connection.username">app</property>
        <property name="connection.password">qwerty</property>
         <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <mapping class="com.apu.auctionserver.DB.entity.AuctionLot"/>
        <mapping class="com.apu.auctionserver.DB.entity.User"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>